apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: danuri-stage

resources:
- ../../base

images:
- name: ghcr.io/danuri-team/danuri-backend
  newTag: 45f16e48

patches:
- path: patch-deployment.yaml
  target:
    kind: Deployment
- path: patch-ingress.yaml
  target:
    kind: Ingress
