apiVersion: apps/v1
kind: Deployment
metadata:
  name: potato-4-cut
spec:
  replicas: 1
  template:
    spec:
      containers:
        - name: potato-4-cut
          resources:
            requests:
              cpu: 100m
              memory: 1024Mi